body{
    font-family: 'Fjalla One', sans-serif;
}
h1{
    font-size: 40px;
}
.red-orient{
    color: crimson;
}
Section{
    display: flex;
}
.half-width{
    width: 40%;
    padding-left: 7%;
}
.half-width img{
    width 50%
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, black);
    padding: 10px 40px;
    border-radius: 5px;
    color:white;
    font-weight:700;
}