body{
    font-family: 'Fjalla One', sans-serif;
}
h1{
    font-size: 40px;
}
.red-orient{
    color: crimson;
}
Section{
    display: flex;
}
.half-width{
    width: 40%;
    padding-left: 10%;
}
.half-width img{
    width 50%
}